<div class="container">
  <h1>Search for a city</h1>
  <form [formGroup]="myForm" (ngSubmit)="submitHandler()">

    <!-- Value: {{myForm.value | json}} -->
    <pre></pre>
    <mat-form-field>
      <mat-label>City Search</mat-label>
      <input matInput placeholder="" formControlName="searchString">
      <mat-error *ngIf="searchString?.hasError('required') && searchString?.touched">
        Please provide search query.
      </mat-error>
      <mat-error *ngIf="searchString?.hasError('pattern') && searchString?.touched">
        Invalid search query.
      </mat-error>
    </mat-form-field>
    <pre></pre>

    <button class="search_button" type="submit" [disabled]="myForm.invalid">Search</button>
  </form>
</div>
<div class="container" *ngIf="searchResults">
  <h2>Search Results</h2>
  <div *ngIf="searchResults.length > 0;">
    <div class="search_result" *ngFor="let city of pageSlice">
      <span>{{city.cityName}}</span>
    </div>
    <mat-paginator
    class="result_paginator"
    [length]="this.searchResults.length"
    [pageSize]="5"
    [pageIndex]="0"
    (page)="handlePageEvent($event)"
    aria-label="Select page">
  </mat-paginator>
  </div>
  <div *ngIf="noSearchResults">
    <div class="search_result">
      <span>we couldn't find a city matching your query.</span>
    </div>
  </div>
</div>

