<div class="container">
  <h1>Search for a city</h1>
  <form [formGroup]="myForm" (ngSubmit)="submitHandler()">

    Value: {{myForm.value | json}}
    <pre></pre>
    <mat-form-field>
      <mat-label>City Search</mat-label>
      <input matInput placeholder="" formControlName="searchString">
      <mat-error *ngIf="searchString?.hasError('required') && searchString?.touched">
        This field is required
      </mat-error>
      <mat-error *ngIf="searchString?.hasError('pattern') && searchString?.touched">
        Invalid search string
      </mat-error>
    </mat-form-field>
    <pre></pre>

    <button class="search_button" type="submit" [disabled]="myForm.invalid">Search</button>
  </form>
</div>
<div class="container" *ngIf="searchResults">
  <h3>Cities</h3>
  <ul>
    <li *ngFor="let city of searchResults">
      <span>{{city.cityName}}</span>
    </li>
  </ul>
  <!-- <div clas="search_result_wrapper">
    <mat-paginator
    class="result_paginator"
    [length]="searchResults.length"
    [pageSize]="5"
    [pageSizeOptions]="[3, 5, 10]"
    aria-label="Select page">

  </mat-paginator>
  </div> -->
</div>

